@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100;400&display=swap");

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 8rem;
  padding: 2rem 3rem 2rem 3rem;
  width: 450px;
  border-radius: 4px;
  box-shadow: 0 1px 1px #7b7b7a;
  color: #3f4139;
  background-color: #fbfaf7;
  position: relative;
}

.card.form-container h1 {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.formOuterContainer {
  height: 500px;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.loginSignup {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-bottom: 13px;
  min-width: 350px;
  border: 1px solid;
  border-color: white;
  border-radius: 5px;
  opacity: 0;
  background-color: #e9eadf;
}

.loginSignup h2 {
  font-size: 1.5rem;
  padding-top: 0.7rem;
  font-weight: 100;
  display: inline-block;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  margin: 0rem 1rem 0rem 1rem;
  font-size: 16px;
}

.loginSignup img {
  display: inline-block;
  height: 10px;
  vertical-align: middle;
  width: 10px;
}

.loginSignup.success {
  opacity: 1;
  top: -70px;
  color: green;
  transition: opacity 1s, top 1s;
}

.loginSignup.fail {
  opacity: 1;
  top: -70px;
  color: red;
  transition: opacity 1s, top 1s;
}

.form-container label {
  margin: 1rem 0 5px 0;
}
.form-container input {
  margin: 2px 0 1rem 0;
  border-radius: 3px;
  border-color: #6f6d6d;
  border-width: 1px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 100;
  background-color: #fff;
}

.form-container input:active {
  font-size: 1rem;
  background-color: gray;
}

.form-container h1 {
  text-align: center;
  font-weight: 400;
}

.form-container p {
  border: none;
  border-top: solid 1px #5f5e5e;
  padding-top: 1rem;
  text-align: center;
  margin-top: 2rem;
}
p span {
  color: #2d2b21;
  font-weight: bold;
}
p span:hover {
  background-color: #918e81;
  cursor: pointer;
}

.form-container button {
  margin: auto;
  height: 2rem;
  width: 5rem;
  background-color: #e1dfc4;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border-color: #b9b798;
  border-width: 0.15px;
  width: 100%;
  font-weight: lighter;
}
.form-container button:hover {
  background-color: #c5c18b;
  cursor: pointer;
}

.error {
  border: none;
  outline: none;
  color: red;
  text-align: left;
  margin-top: 1rem;
}

@media (max-width: 510px) {
  .form-container h1 {
    font-size: 25px;
  }
}
