.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 8rem;
  padding: 2rem 3rem 2rem 3rem;
  width: 30%;
  border-radius: 4px;
  box-shadow: 0 1px 1px #7b7b7a;
  color: #3f4139;
  background-color: #fbfaf7;
}

.form-container label {
  margin: 1rem 0 5px 0;
}
.form-container input {
  margin: 2px 0 1rem 0;
  border-radius: 2px;
  border-color: #6f6d6d;
  border-width: 1px;
}

.form-container h1 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  text-align: center;
}

.form-container p {
  border: none;
  border-top: solid 1px #5f5e5e;
  padding-top: 1rem;
  text-align: center;
  margin-top: 2rem;
}
p span {
  color: #2d2b21;
  font-weight: bold;
}
p span:hover {
  background-color: #918e81;
  cursor: pointer;
}
